{% block form %}

    {{ form_start(form) }}

        {{ form_row(form) }}

        <button class="btn btn-block btn-primary" type="submit">

            {{ "form.next"|trans }}

        </button>

    {{ form_end(form) }}

{% endblock %}