body { 
    margin:0;
    padding:0;
    background: url(../img/global/louvre-by-nignt.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }

.bg-dark{
  background-color: rgba(52, 58, 64, 0.9)!important;
}

label{
  letter-spacing : 0.2em;

}

