{% extends 'base.html.twig'%}

{% form_theme form 'form/themes/main_form.html.twig' %}

{% block title %}{{ parent() }} Visiteurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block body %}
        <div class="card text-white bg-dark mb-3">

            <h3 class="card-header text-center">

                <p>
                    {{ "booking.message"|trans({'%visitRange%': app.session.get("order").visitRange|trans, '%visitDate%': app.session.get("order").visitDate|date("d/m/Y")} ) }}
                </p>

                <div class="progress m-4" >
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.choice"|trans }}</div>
                    <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.visitor"|trans }}</div>
                    <div class="progress-bar bg-white text-info" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.payment"|trans }}</div>
                </div>

            </h3>
            {% for message in app.flashes('error') %}
                <div class="flash-notice alert alert-info text-center">
                    <strong>
                        {{ message }}
                    </strong>
                </div>
            {% endfor %}
        </div>

        {# vvvvv ------------vvvvvvv---------FORMULAIRE(S) BUYER ------------vvvvvvv---------vvvvv #}
    <div class="card-body text-white bg-dark mb-3">
        <div id="form_card well">
            {{form(form)}}
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/form_generator.js')) }}"></script>
    <script>
    $(document).ready(function() {

        $('[data-toggle="tooltip"]').tooltip();

        formGenerator.init($('#booking_tickets'), "{{ 'form.add'|trans|e('js') }}", "{{ 'form.delete'|trans|e('js') }}", "{{ 'form.visitorLabel'|trans|e('js') }}" );
    })
    </script>

{% endblock %}