{% extends 'base.html.twig'%}

{% form_theme form 'form/themes/main_form.html.twig' %}

{% block title %}{{ parent() }} Billetterie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="card text-white bg-dark mb-3">
        <h3 class="card-header text-center">
            {{ "home.presentation_text"|trans }}
            <div class="progress m-4" >
                <div class="progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.choice"|trans }}</div>
                <div class="progress-bar bg-white text-info" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.visitor"|trans }}</div>
                <div class="progress-bar bg-white text-info" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.payment"|trans }}</div>
            </div>
        </h3>

        <div class="card-body">
            <div class="well">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/date_range_switch.js') }}"></script>

    <script>
        $(document).ready(function() {

            $('.js-datepicker').datepicker({
                updateViewDate: false,
                assumeNearbyYear:true,
                format: 'dd/mm/yyyy',
                startDate: "now",
                todayBtn: true,
                language: "fr",
                orientation: "auto top",
                daysOfWeekDisabled: "0, 2",
                autoclose: true,
                todayHighlight: true,
                datesDisabled: [{% for date in unavailableDate %}'{{  date  }}',{% endfor %}'09/21/2018']

            });

            $('.js-datepicker').datepicker('update', new Date());

            date_range_switch.switch();

            $('.js-datepicker').datepicker().on('changeDate', function (e) {
                date_range_switch.switch();
            });
        });
    </script>

{% endblock %}