{% block nav %}
<nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand" href="{{ path('Home')}}">
        <img src="{{ asset('assets/img/global/logo-louvre.png') }}" width="150"  class="d-inline-block align-top" alt="logo-louvre">
    </a>
    <h1 class="navbar text-white text-right lead">
        {{'nav.main_title'|trans}}
    </h1>
</nav>
{% endblock %}