{% extends 'base.html.twig'%}

{% block title %}{{ parent() }} Billetterie - Payement{% endblock %}

{% block body  %}

        <div id="form_contener"></div>

        <div class="card text-white bg-dark mb-3">
            <h3 class="card-header text-center">
                {{ "payment.title"|trans }}
                <div class="progress m-4">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.choice"|trans }}</div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.visitor"|trans }}</div>
                    <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.payment"|trans }}</div>
                </div>
            </h3>

            <div class="card-body">
                <h5 class="card-title text-center pb-2">{{ "booking.message"|trans({'%visitRange%': app.session.get("order").visitRange|trans, '%visitDate%': app.session.get("order").visitDate|date("d/m/Y")} ) }}</h5>

                <div class="well text-dark ">
                    <table class="table table-striped table-light table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">{{ "payment.name"|trans }}</th>
                            <th scope="col">{{ "payment.firstName"|trans }}</th>
                            <th scope="col">{{ "payment.ticket"|trans }}</th>
                            <th scope="col">{{ "payment.amount"|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in app.session.get('order').tickets%}
                            <tr>
                                <td id="lastName" class="text-center">{{ticket.lastName}}</td>
                                <td id="firstName" class="text-center">{{ticket.firstName}}</td>
                                <td id="discount" class="text-center">{{ticket.type}}</td>
                                <td id="price" class="text-center">{{ticket.price}},00 €</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfooter>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <th>Total</th>
                                <th id="total_price" class="text-center">{{app.session.get('order').total}},00 €</th>
                            </tr>
                        </tfooter>
                    </table>
                </div>

                <div class="text-white text-center p-2">{{ "payment.helpText"|trans }}</div>
                <div class="col-12 m-2 d-flex justify-content-around">
                    <button class="btn btn-info col-5" type="submit" id="customButton" >{{ "payment.CB"|trans }}</button>
                    <a class="btn btn-secondary col-5" href="{{ path('Booking')}}">{{ "payment.return"|trans }}</a>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}

    {{parent()}}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script>
        $(function(){
            var handler = StripeCheckout.configure({
                key: '{{ stripePublishableKey }}',
                image: '{{ asset("../assets/img/global/louvre-logo-mini.png") }}',
                locale: '{{ app.request.locale }}',
                token: function(token){
                    $('body').append('<form id="strip_form" method="post" action=""></form>');
                    $('#strip_form').append('<input type="hidden" name="token" value='+token.id+'>');
                    $('#strip_form').append('<input type="hidden" name="email" value='+token.email+'>');
                    $('#strip_form').submit();
                }
            });

            document.getElementById('customButton').addEventListener('click', function(e) {
                // Open Checkout with further options:
                handler.open({
                    name: 'Le Louvre',
                    currency: 'eur',
                    amount: "{{app.session.get('order').total* 100 }}"
                })

                e.preventDefault();
            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
                handler.close({

                });
            });
        })
    </script>

{% endblock %}