{% extends 'base.html.twig'%}

{% block title %}{{ parent() }} Billetterie - Payement{% endblock %}

{% block body  %}

    <div id="form_contener"></div>

    <div class="card text-white bg-dark mb-3">
        <h3 class="card-header text-center">
            {{ "thx.title"|trans }}
            <div class="progress m-4">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.choice"|trans }}</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.visitor"|trans }}</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ "home.payment"|trans }}</div>
            </div>
        </h3>

        <div class="card-body">
            <div class="well">
                <div class="alert alert-success text-center m-2" role="alert">
                    <strong>{{ "thx.thx"|trans }}</strong>
                    <p>{{ "thx.message"|trans }}.</p>
                    <hr>
                    <p><a class="btn btn-secondary col-5" href="{{ path('Home')}}">{{ "thx.backHome"|trans }}</a></p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}