<style>
    #body{
        height: 100%;
        width: 100%;
        color: #555555;
        #font-family: Arial, sans-serif;
        font-size: 12px
    }
</style>

<page id="body">

{# ########## >>>>>>>>>>>>>>>>>>>>>>>> vvvvvvvv  HEADER  vvvvvvvv <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    ########## #}
    <style>
        #header {
            margin-bottom: 5px;
            padding-bottom: 15px;
            border-bottom: 1px solid #AAAAAA;
            position: relative;
        }

        #logo {
            width: 200px;
            display: inline;
        }

        #logo img {
            height: 70px;
        }

        #company {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            margin: 0;
        }

        #company h2{
            color: #0087C3;
            margin: 0;
            padding: 0;
        }

        #company p{
            text-align: right;
        }

    </style>
    <div id="header">
        <div id="logo">
            <img src=" ./assets/img/global/logo-louvre.png ">
        </div>
        <div id="company">
            <h2>Musée du Louvre</h2>
            <p>Rue de Rivoli,<br>
            75001, Paris</p>
        </div>
    </div>

{# ########## >>>>>>>>>>>>>>>>>>>>>>>> vvvvvvvv  INVOCE DETAIL  vvvvvvvv <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    ########## #}
        <style>

            #details {
                margin-bottom: 5px;
            }

            #client {
                display: inline;
                padding-left: 6px;
                border-left: 6px solid #0087C3;
                float: left;
            }

            #invoice {
                text-align: right;
            }
        </style>
        <div id="details">
            <div id="invoice">
                <h1>{{ "ticket.title"|trans }} </h1>
                <h3>{{ "ticket.availability"|trans ({'%visitDate%': order.visitDate|date('d/m/Y')}) }} </h3>
            </div>
            <div id="client">
                <div><strong>{{ "ticket.client"|trans }} :</strong> {{order.tickets[0].lastName}} {{order.tickets[0].firstName}}</div>
                <div><strong>{{ "ticket.email"|trans }} :</strong> {{order.email}}</div>
                <div><strong>{{ "ticket.orderDate"|trans }} :</strong> {{order.creationDate|date('d/m/Y')}}</div>
                <div><strong>{{ "ticket.orderId"|trans }} :</strong> {{order.orderId}}</div>
            </div>
        </div>

{# ########## >>>>>>>>>>>>>>>>>>>>>>>> vvvvvvvv  PRICE TAB  vvvvvvvv <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    ########## #}
        <style>
            table {
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 5px;
            }

            table th,
            table td {
                padding-top: 15px;
                padding-bottom: 15px;
                background: #EEEEEE;
                text-align: center;
                border-bottom: 1px solid #FFFFFF;
            }

            table th {
                white-space: nowrap;
            }

            table .no {
                width: 5%;
                color: #FFFFFF;
                background: #0087C3;
            }

            table .ticketId {
                width: 35%;
                background: #DDDDDD;
            }

            table .price {
                width: 10%;
                background: #0087C3;
                color: #FFFFFF;
            }

            table .name
            {
                width :40%;
            }

            table .ticketType
            {
                width: 10%;
                background: #E8E8E8;
            }

            table tbody tr:last-child td {
                border: none;
            }

            table tfoot td {
                padding: 10px 20px;
                background: #FFFFFF;
                border-bottom: none;
                color: #0087C3;
                font-size: 1.4em;
                white-space: nowrap;
                border-top: 3px solid #0087C3;
            }

            table tfoot tr td:first-child {
                border: none;
            }
        </style>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th class="no">#</th>
                <th scope="col" class="name">{{ "ticket.guest"|trans }}</th>
                <th scope="col" class="ticketType">{{ "ticket.ticketType"|trans }}</th>
                <th scope="col" class="ticketId">{{ "ticket.ticketId"|trans }}</th>
                <th scope="col" class="price">{{ "ticket.price"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for valeur, option in order.tickets%}
                <tr>
                    <td class="no">{{valeur + 1}}</td>
                    <td class="name">{{order.tickets[valeur].lastName}} {{order.tickets[valeur].firstName}}</td>
                    <td class="ticketType">{{order.tickets[valeur].ticketType}}</td>
                    <td class="ticketId">{{order.tickets[valeur].ticketId}}</td>
                    <td class="price">{{order.tickets[valeur].price}},00 €</td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"> TOTAL</td>
                    <td>{{app.session.get('order').total}},00 €</td>
                </tr>
            </tfoot>
        </table>

{# ########## >>>>>>>>>>>>>>>>>>>>>>>> vvvvvvvv  NOTICE  vvvvvvvv <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    ########## #}
    <style>

        #notices{
            padding-left: 6px;
            border-left: 6px solid #0087C3;
            text-align: justify;
        }

        #notices .notice {
            font-size: 0.9em;
        }

        .notice {
            font-style: italic;
        }
    </style>
    <div id="notices">
        <div>{{ "ticket.infoTitle"|trans }} :</div>
        <br>
        <div class="notice">{{ "mail.noticeP1"|trans }}</div>
        <br>
        <div class="notice">{{ "mail.noticeP2"|trans }}</div>
        <br>
        <div class="notice">{{ "mail.noticeP3"|trans }}</div>
    </div>

{# ########## >>>>>>>>>>>>>>>>>>>>>>>> vvvvvvvv  FOOTER  vvvvvvvv <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    ########## #}
    <style>
        #footer {
            color: #777777;
            width: 100%;
            position: absolute;
            bottom: -25px;
            height: 25px;
            border-top: 1px solid #AAAAAA;
            padding: 8px 0;
            text-align: center;
        }
    </style>
    <page_footer>
        <div id="footer">Le louvre</div>
    </page_footer>
</page>



