<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ "mail.emailObject"|trans }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        /* Fonts and Content */
        body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; }
        body { margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
        h2{ padding-top:12px; /* ne fonctionnera pas sous Outlook 2007+ */color:#0E7693; font-size:22px; }
        #priceTable {width: 100%; border-collapse: collapse; border-spacing: 0; margin-bottom: 20px;}
        #priceTable th, #priceTable td {padding: 15px; background: #EEEEEE; text-align: center; border-bottom: 1px solid #FFFFFF;}
        #priceTable th {white-space: nowrap; font-weight: 1.2em;}
        #priceTable .price {background: #0087C3;color: #FFFFFF;}
        #priceTable td.name{width :50%;}
        #priceTable tbody tr:last-child td {border: none;}
        #priceTable tfoot td {padding: 10px 20px; background: #FFFFFF;border-bottom: none;color: #0087C3;font-size: 1.4em;white-space: nowrap;border-top: 3px solid #0087C3;}
        #priceTable tfoot tr td:first-child {border: none;}
        .pagetoplogo-content{margin-top: 20px;margin-bottom: 20px;}
        #notices{padding-left: 6px;border-left: 6px solid #0087C3;text-align: justify;}
        #notices .notice {ont-size: 0.9em;}
        .notice {font-style: italic;}
        #client {padding-left: 6px;border-left: 6px solid #0087C3;margin-bottom:20px;}
    </style>

</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:rgb(42, 55, 78)" >
    <tbody>
    <tr>
        <td align="center" bgcolor="#2A374E">
            <table  cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w640"  width="640" height="10"></td>
                </tr>

                <!-- entete -->
                <tr class="pagetoplogo">
                    <td class="w640"  width="640">
                        <table  class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
                            <tbody>
                            <tr>
                                <td class="w30"  width="30"></td>
                                <td  class="w580"  width="580" valign="middle" align="left">
                                    <div class="pagetoplogo-content">
                                        <img class="w580" style="text-decoration: none; display: block; color:#476688; font-size:30px;" src="{{logo}}" alt="Mon Logo" width="580"/>
                                    </div>
                                </td>
                                <td class="w30"  width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- separateur horizontal -->
                <tr>
                    <td  class="w640"  width="640" height="1" bgcolor="#d7d6d6"></td>
                </tr>

                <!-- contenu -->
                <tr class="content">
                    <td class="w640" class="w640"  width="640" bgcolor="#ffffff">
                        <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td  class="w30"  width="30"></td>
                                <td  class="w580"  width="580">
                                    <!-- une zone de contenu -->
                                    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="w580"  width="580">
                                                <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">{{ "mail.thxTitle"|trans }}</h2>
                                                <h3>{{ "mail.thxMessage"|trans({'%visitDate%': order.visitDate|date('d/m/Y')}) }}</h3>
                                                <div align="left" class="article-content">
                                                    <div id="client">
                                                        <div><strong>{{ "mail.client"|trans }} :</strong> {{order.tickets[0].lastName}} {{order.tickets[0].lastName}}</div>
                                                        <div><strong>{{ "mail.email"|trans }} :</strong> {{order.email}}</a></div>
                                                        <div><strong>{{ "mail.orderDate"|trans }} :</strong> {{order.creationDate|date('d/m/Y')}}</div>
                                                        <div><strong>{{ "mail.orderId"|trans }} :</strong> {{order.orderId}}</div>
                                                    </div>

                                                    <table id="priceTable" border="0" cellspacing="0" cellpadding="0">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col" class="name">{{ "mail.guest"|trans }}</th>
                                                            <th scope="col" class="price">{{ "mail.Price"|trans }}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for valeur, option in order.tickets%}
                                                            <tr>
                                                                <td class="name text-center">{{order.tickets[valeur].lastName}} {{order.tickets[valeur].firstName}}</td>
                                                                <td class="price text-center">{{order.tickets[valeur].price}},00 €</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <td colspan="1"> TOTAL</td>
                                                            <td>{{app.session.get('order').total}},00 €</td>
                                                        </tr>
                                                        </tfoot>
                                                    </table>

                                                    <div id="notices">
                                                        <div>{{ "mail.infoTitle"|trans }} :</div>
                                                        <div class="notice">{{ "mail.infoMessage"|trans ({'%visitDate%': order.visitDate|date('d/m/Y')}) }}</div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="w580"  width="580" height="1" bgcolor="#c7c5c5"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- fin zone -->


                                </td>
                                <td class="w30" class="w30"  width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!--  separateur horizontal de 15px de  haut-->
                <tr>
                    <td class="w640"  width="640" height="15" bgcolor="#ffffff"></td>
                </tr>

                <!-- pied de page -->
                <tr class="pagebottom">
                    <td class="w640"  width="640">
                        <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#c7c7c7">
                            <tbody>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            <tr>
                                <td class="w30"  width="30"></td>
                                <td class="w580"  width="580" valign="top">
                                    <p align="right" class="pagebottom-content-left">
                                        <a style="color:#255D5C;" href="https://www.louvre.fr"><span style="color:#255D5C;">

                                                                Musée du Louvre<br />
                                                            </span></a>
                                        Rue de Rivoli,<br /> 75001, Paris
                                    </p>
                                </td>

                                <td class="w30"  width="30"></td>
                            </tr>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="w640"  width="640" height="60"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
